html, body {
    margin: 0;  /* 去掉網頁主體的預設外邊距 */
}
.tv {
    position: relative;
    width: 650px;
    left: 280px;
}
h2 {
    position: relative;
    top: -50px;
    left: 400px;
    color: #8C8C8C;
}
h3 {
    position: relative;
    top: -30px;
    left: 400px;
    color: #969696;
}
.wood {
    position: relative;
    width: 100px;
    bottom: 150px;
    left: 750px;
}